{% extends 'index.html' %}
{% load static %}
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}

{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block head %}
<div class="col-md-12 text-center">
    <h1 class="m-0 text-dark">Invoice Print</h1>
  </div>
{% endblock %}

{% block content %}

<div class="row justify-content-center" id="printOnLoad">
    <div class="col-md-8">
        <div class="card" style="border: 2px solid;" id="printableArea">
            <div class="card-body">
                <div class="row bored_bottom">
                    <div class="col-md-12 text-center b-1">
                        <h1>Sri Sai Krishna Optical</h1>
                        <p>1-7-1002/39, Opp: State Bank of Hyderabad Ramnagar to VST Road, Hyderabad, Telangana 500020 </p>
                        <p><b>GST Identification No :</b> 09876dfjdskfnlkjds09876</p>
                        <p><b>DL NO :</b> 8765/5645/3245</p>
                        <h2> CASH BILL ( TAX INVOICE )</h2>
                        <P> Section 31(1) of CGST Act</P>

                    </div>

                </div>
                <div class="row text-center bored_bottom p-2">
                    <div class="col-md-4"><b>Invoice Number :</b> {{ sale_form.bill_no }} </div>
                    <div class="col-md-4"><b>Invoice Date :</b> {{ sale_form.created_on }} </div>
                    <div class="col-md-4"><b>MR NO :</b> </div>
                </div>
                <div class="row bored_bottom p-2 text-center">
                    <div class="col-md-3"><b>Patient Name :</b> {{ sale_form.patient }}</div>
                    <div class="col-md-3"><b>Patient No :</b> {{ sale_form.phone }}</div>
                    <div class="col-md-6"><b>Patient Address :</b> NONE</div>

                </div>
                <div class="row text-round bored_bottom p-2">
                    <div class="col-md-6"> <b>Age & Sex :</b> 35/male </div>
                    <div class="col-md-6"> <b>Docotor :</b> {{ sale_form.referred_by }}</div>

                </div>
                <div class="row text-center p-2">
                    <div class="col-md-6"> <b>ALL amount in Rs :</b></div>
                    <div class="col-md-2"><b>SGST/UTGST</b></div>
                    <div class="col-md-2"><b>CGST</b></div>
                    <div class="col-md-2"><b>IGST</b></div>

                </div>
                <div class="row bored_bottom table-responsive">
                    <table class="table table-striped table-head-fixed table-md">
                        <thead>
                        <tr>
                            <th>S.NO</th>
                            <th>Item Name</th>
                            <th>Quantity</th>
                            <th>Batch ID</th>
                            <th>Unit Price</th>
                            <th>Discount</th>
                            <th>GST(%)</th>
                            <th>Sub-Total</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for form in sale_item %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ form.item_name }}</td>
                                <td>{{ form.quantity }}</td>
                                <td>{{ form.batch_id }}</td>
                                <td>{{ form.unit_price }}</td>
                                <td>{{ form.discount }}</td>
                                <td>{{ form.gst }}</td>
                                <td>{{ form.sub_total }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                </div>
                <div class="row bored_bottom p-2" style="text-align: -webkit-center;">
                    <div class="col-md-4"> <b>Paid : </b> {{ sale_form.total_amount }} </div>
                    <div class="col-md-4"> <b>Vat : </b> {{ sale_form.total_vat }} </div>
                    <div class="col-md-4"> <b>Total : </b>{{ sale_form.total_amount }} </div>

                </div>
                <div class="row pt-2">
                    <div class="col-md-7 p-2">
                        <b>{{ sale_form.payment_type }} : </b>{{ sale_form.total_amount }} <br>
                        <b>Amount in words :</b><br>
                        <b>Amount Subject to Reverse Charge : </b>Nil<br>
                        <p><b>NOTE :</b><br> ITEMS ONCE SOLD WILL BE TAKEN BACK/EXCHANGE WITHIN PERIOD OF ONE MONTH ONLY. <br>
                            COLD CHAIN PRODUCTIONS WILL NOT BE TAKEN BACK OR EXCHANGED. </p>
                        <p><b>Declaration :</b><br>
                        The data furnished above are true and fair and price is the only sole consideration</p>

                    </div>
                    <div class="col-md-5 text-center p-2">
                        <h3>For Sri Sai Krishna Optical </h3><br>
                        <h4>Signature</h4><br>
                        <h5>E & OE</h5>

                    </div>

                </div>

            </div>

        </div>
        <div class="row justify-content-end">
            <a onclick="printInvoice()" class="btn btn-default"><i class="fas fa-print"></i> Print</a>

            <br>
            <a href="{% url 'sales_view' %}" class = "btn waves-effect btn-danger btn-sm " >Close</a>

        </div>
    </div>
</div>



{% endblock %}

{% block javascript %}
<script>
document.getElementById("printOnLoad").addEventListener("load", printInvoice);
    function printInvoice() {
         var printContents = document.getElementById('printableArea').innerHTML;
         var originalContents = document.body.innerHTML;
         document.body.innerHTML = printContents;
         window.print();
         document.body.innerHTML = originalContents;
    }
</script>
{% endblock %}
