
{% load static %}
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}

{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% if sale_item_form %}

    <div class="modal-content print-popup">
  <div class="modal-header" style="border-bottom: 2px solid;">
    <h5 class="modal-title" id="exampleModalLongTitle">Print Bill</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span> Total : {{ total }}</span>
    </button>
  </div>
  <div class="modal-body table-responsive">
    <table class="table table-bordered table-md table-haed-fixed myfontsize">
      <thead>
        <tr>
          <th>S.NO</th>
          <th>Item_Name</th>
          <th>Quantity</th>
          <th>Batch_ID</th>
          <th>Unit_Price</th>
          <th>Discount</th>
          <th>GST(%)</th>
          <th>Sub_Total</th>
        </tr>
      </thead>
      <tbody>
        {% for form in sale_item_form %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ form.item_name }}</td>
          <td>{{ form.quantity }}</td>
          <td>{{ form.batch_id }}</td>
          <td>{{ form.unit_price }}</td>
          <td>{{ form.discount }}</td>
          <td>{{ form.gst }}</td>
          <td>{{ form.sub_total }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary"  OnClick="showExchangeReturn(this)" value="{% url 'print' id %}"><i class="fas fa-print"></i>Print</button>
      <button OnClick="showExchangeReturn(this)" value="{% url 'sales_edit' id %}" class = "btn btn-primary" >Return/Exchange</button>
    <button class="btn btn-danger" id="close">Close</button>
  </div>
</div>

{% elif medi_form %}

    <div class="modal-content print-popup">
  <div class="modal-header" style="border-bottom: 2px solid;">
    <h5 class="modal-title" id="exampleModalLongTitle">Medicine</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span> Total : {{ total }}</span>
    </button>
  </div>
  <div class="modal-body print-conten-adjustment">
    <table class="table table-bordered table-md table-haed-fixed myfontsize">
      <thead>
        <tr>
          <th>S.NO</th>
          <th>Item Name</th>
          <th>Quantity</th>
          <th>Free Quantity</th>
          <th>Batch ID</th>
          <th>Expiry Date</th>
          <th>Sale Price</th>
          <th>Cost Price</th>
          <th>GST(%)</th>
          <th>Sub-Total</th>
        </tr>
      </thead>
      <tbody class="myfontsize">
      {% for form in medi_form %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ form.item_name }}</td>
          <td>{{ form.quantity }}</td>
          <td>{{ form.free_quantity }}</td>
          <td>{{ form.batch_id }}</td>
          <td>{{ form.expiry_date }}</td>
          <td>{{ form.sale_price }}</td>
          <td>{{ form.cost_price }}</td>
          <td>{{ form.gst }}</td>
          <td>{{ form.sub_total }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <!-- <button class="btn btn-secondary"  OnClick="showExchangeReturn(this)" value="{% url 'print' id %}"><i class="fas fa-print"></i>Print</button> -->
      <button OnClick="showExchangeReturn(this)" value="{% url 'goods_edit' id %}" class = "btn btn-primary" >Add / Update</button>
    <button class="btn btn-danger" id="close">Close</button>
  </div>
</div>

{% elif sale_form and sale_item %}

    <div class="card" style="border: 2px solid;" >
        <div class="card-body" id="printItems">
            <div class="row bored_bottom">
                <div class="col-md-12 text-center b-1">
                    <h1>Renu Medical And General Store</h1>
                    <p>1-7-1002/40, Opp: SBI Bank, VST Road, Ramnagar, Hyderabad, Telangana 500020, Ph: 9963932663</p>
                    <h2> CASH BILL</h2>

                </div>
            </div>
            <div class="row text-center bored_bottom p-2">
                <div class="col-md-4"><b>Invoice Number :</b> {{ sale_form.bill_no }} </div>
                <div class="col-md-4"><b>Invoice Date :</b> {{ sale_form.created_on }} </div>
                <div class="col-md-4"><b>MR NO :</b> </div>
            </div>
            <div class="row bored_bottom p-2 text-center">
                <div class="col-md-3"><b>Patient Name :</b> {{ sale_form.patient }}</div>
                <div class="col-md-3"><b>Patient No :</b> {{ sale_form.phone }}</div>
                <div class="col-md-6"><b>Patient Address :</b> NONE</div>

            </div>
            <div class="row text-round bored_bottom p-2">
                <div class="col-md-6"> <b>Age & Sex :</b> None/None </div>
                <div class="col-md-6"> <b>Docotor :</b> {{ sale_form.referred_by }}</div>

            </div>
            <br>
            <div class="row bored_bottom table-responsive">
                <table class="table table-striped table-head-fixed table-md">
                    <thead >
                    <tr>
                        <th>S.NO</th>
                        <th>Item Name</th>
                        <th>Quantity</th>
                        <th>Batch ID</th>
                        <th>Unit Price</th>
                        <th>Expiry Date</th>
                        <th>Discount</th>
                        <th>GST(%)</th>
                        <th>Sub-Total</th>
                    </tr>
                    </thead>
                    <tbody>                
                        {% for form in sale_item %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ form.item_name }}</td>
                            <td>{{ form.quantity }}</td>
                            <td>{{ form.batch_id }}</td>
                            <td>{{ form.unit_price }}</td>
                            <td>{{ form.expiry_date }}</td>
                            <td>{{ form.discount }}</td>
                            <td>{{ form.gst }}</td>
                            <td>{{ form.sub_total }}</td>
                        </tr>
                        {% endfor %}                
                        </tbody>
                    </table>

            </div>
            <div class="row bored_bottom p-2" style="text-align: -webkit-center;">
                <div class="col-md-4"> <b>Paid : </b> {{ sale_form.total_amount }} </div>
                <div class="col-md-4"> <b>Vat : </b> {{ sale_form.total_vat }} </div>
                <div class="col-md-4"> <b>Total : </b>{{ sale_form.total_amount }} </div>

            </div>
            <br>
            <div class="row pt-2">
                <div class="col-md-7 p-2">
                    <b>{{ sale_form.payment_type }} : </b>{{ sale_form.total_amount }} <br>
                    <b>Amount in words :</b><br>
                    <b>Amount Subject to Reverse Charge : </b>Nil<br>
                    <p><b>NOTE :</b><br> ITEMS ONCE SOLD WILL BE NOT TAKEN BACK/EXCHANGE.<br>
                        COLD CHAIN PRODUCTIONS WILL NOT BE TAKEN BACK OR EXCHANGED. </p>
                    <p><b>Declaration :</b><br>
                    The data furnished above are true and fair and price is the only sole consideration</p>

                </div>
                <div class="col-md-5 text-center p-2">
                    <h3>For Renu Medical And General Store </h3><br>
                    <h4>Signature</h4><br>
                    <h5>E & OE</h5>

                </div>

            </div>

        </div>

    </div>

{% elif patient_data_form and medicine_collect_form %}

    <form method="POST" action="{% url 'sales_edit' patient_id %}" class="" id="formreset">
{% csrf_token %}
<div class="row justify-content-center">

    <div class="col-md-12 pt-2">
        <div class="card" >
            <div class="col-md-12">
                <div class="card card-warning mt-2">
                    <!-- /.card-header -->
                    <div class="card-body p-1 myfontsize">
                    <div class="row">
                        <div class="col-4">{% bootstrap_field patient_data_form.store %}</div>
                        <div class="col-4">{% bootstrap_field patient_data_form.patient  %}</div>
                        <div class="col-4">{% bootstrap_field patient_data_form.phone  %}</div>
                        <div class="col-4">{% bootstrap_field patient_data_form.referred_by  %}</div>
                        <div class="col-4">{% bootstrap_field patient_data_form.payment_type  %}</div>
                        <div class="col-4 hide">{{ patient_data_form.bill_no }}</div>
                    </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-outline card-primary">
                    <!-- /.card-header -->
                    <div class="card-body table-responsive pr-2 pl-2 pb-2 pt-0" style="height: 250px;">
                    {{ medicine_collect_form.management_form }}
                    <table class="table table-striped table-head-fixed table-sm myfontsize">
                        <thead>
                        <tr>
                            <th>S.NO</th>
                            <th>Item Name</th>
                            <th>Quantity</th>
                            <th>Batch ID</th>
                            <th>Unit Price</th>
                            <th>Expiry Date</th>
                            <th>Discount</th>
                            <th>GST(%)</th>
                            <th>Sub-Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for form in medicine_collect_form %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{% bootstrap_field form.item_name show_label=false %}</td>
                            <td>{% bootstrap_field form.quantity show_label=false %}</td>
                            <td>{% bootstrap_field form.batch_id show_label=false %}</td>
                            <td>{% bootstrap_field form.unit_price show_label=false %}</td>
                            <td>{% bootstrap_field form.expiry_date show_label=false %}</td>
                            <td>{% bootstrap_field form.discount show_label=false %}</td>
                            <td>{% bootstrap_field form.gst show_label=false %}</td>
                            <td>{% bootstrap_field form.sub_total show_label=false %}</td>
                            <td class="hidden">{{ form.id }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <div class="col-md-12">
                <div class="card-body p-1">
                    <div class="row">
                        <div class="col-3">{% bootstrap_field patient_data_form.total_vat  %}</div>
                        <div class="col-3">{% bootstrap_field patient_data_form.net_amount %}</div>
                        <div class="col-3">{% bootstrap_field patient_data_form.total_amount %}</div>
                        <div class="col-3"><div class="fixed-action-btn pb-4" style="text-align: end;"><br>
                            <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter"> Update</button>
                            <button class="btn btn-danger" id="closere">Close</button>

                        </div></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
</form>

{% else %}

    <div class="modal-content print-popup">
  <div class="modal-header" style="border-bottom: 2px solid;">
    <h5 class="modal-title" id="exampleModalLongTitle">Data Alert</h5>
    <button type="button" class="btn btn-danger" data-dismiss="modal" id="close" aria-label="Close">
      Close
    </button>
  </div>
  <div class="modal-body print-conten-adjustment">
    <table class="table table-bordered table-md table-haed-fixed">
      <h2> Sorry No Data is available...</h2>
  </div>
</div>

{% endif %}
