{% extends 'index.html' %}
{% load bootstrap4 %}

{% block head %}
<div class="col-sm-12 text-center">
  <section class="left-sec">
    <button id="but2b">Billing Section</button>
  </section>
  </div>
{% endblock %}
 
{% block content %}
<form method="POST" id="formreset">
{% csrf_token %}
<div class="row justify-content-center">
    
    <div class="col-md-8 pt-2" style="background-color: #1f2d3d40;"> 
        <div class="card ">
            <div class="col-md-12">
                <div class="card border border-warning mt-2">
                    <!-- /.card-header -->
                    <div class="card-body p-1">
                    <div class="row">
                        <div class="col-4">{% bootstrap_field sale_form.store set_placeholder=False  %}</div>
                        <div class="col-4">{% bootstrap_field sale_form.patient set_placeholder=False %}</div>
                        <div class="col-4">{% bootstrap_field sale_form.phone set_placeholder=False %}</div>
                        <div class="col-4">{% bootstrap_field sale_form.referred_by set_placeholder=False %}</div>
                        <div class="col-4">{% bootstrap_field sale_form.payment_type set_placeholder=False %}</div>
                    </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <div class="col-md-12">
                <div class="card border border-info">
                    <!-- /.card-header -->
                    <div class="card-body table-responsive pr-2 pl-2 pb-2 pt-0" style="max-height: 260px;">
                    {{ sale_item_form.management_form }}
                    <table class="table table-striped table-head-fixed table-sm">
                        <thead>
                        <tr>
                            <th>S.NO</th>
                            <th>Item Name</th>
                            <th>Quantity</th>
                            <th>Batch ID</th>
                            <th>Unit Price</th>
                            <th>Expiry Date</th>
                            <th>Discount</th>
                            <th>GST(%)</th>
                            <th>Sub-Total</th>
                        </tr>
                        </thead>
                        <tbody>                
                        {% for form in sale_item_form %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{% bootstrap_field form.item_name show_label=false set_placeholder=False %}</td>
                            <td>{% bootstrap_field form.quantity show_label=false set_placeholder=False %}</td>
                            <td>{% bootstrap_field form.batch_id show_label=false set_placeholder=False %}</td>
                            <td>{% bootstrap_field form.unit_price show_label=false set_placeholder=False %}</td>
                            <td>{% bootstrap_field form.expiry_date show_label=false set_placeholder=False %}</td>
                            <td>{% bootstrap_field form.discount show_label=false set_placeholder=False %}</td>
                            <td>{% bootstrap_field form.gst show_label=false set_placeholder=False %}</td>
                            <td>{% bootstrap_field form.sub_total show_label=false set_placeholder=False %}</td>
                        </tr>
                        {% endfor %}                
                        </tbody>
                    </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <div class="col-md-12">    
                <div class="card-body p-1">
                    <div class="row">
                        <div class="col-3">{% bootstrap_field sale_form.total_vat  set_placeholder=False %}</div>
                        <div class="col-3">{% bootstrap_field sale_form.net_amount set_placeholder=False %}</div>
                        <div class="col-3">{% bootstrap_field sale_form.total_amount set_placeholder=False %}</div>
                        <div class="col-3"><div class="fixed-action-btn pb-4" style="text-align: end;"><br>
                            <button onclick="PopItUp() type="submit" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter"> Save & <i class="fas fa-print"></i></button>
                            <a onclick="FormReset()" class="btn btn-danger">Cancel</a>
                        </div></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
       
</div>    
</form>

{% endblock %}

{% block javascript %}

  <script>
<!--  $(document).keypress(-->
<!--  function(event){-->
<!--    if (event.which == '13') {-->
<!--      event.preventDefault();-->
<!--    }-->
<!--});-->
$(document).keydown(function(e) {

  // Set self as the current item in focus
  var self = $(':focus'),
      // Set the form by the current item in focus
      form = self.parents('form:eq(0)'),
      focusable;

  // Array of Indexable/Tab-able items
  focusable = form.find('input,a,select,button,textarea').filter(':visible');

  function enterKey(){
    if (e.which === 13 && !self.is('textarea')) { // [Enter] key

      // If not a regular hyperlink/button/textarea
      if ($.inArray(self, focusable) && (!self.is('a')) && (!self.is('button'))){
        // Then prevent the default [Enter] key behaviour from submitting the form
        e.preventDefault();
      } // Otherwise follow the link/button as by design, or put new line in textarea

      // Focus on the next item (either previous or next depending on shift)
      focusable.eq(focusable.index(self) + (e.shiftKey ? -1 : 1)).focus();

      return false;
    }
  }
  // We need to capture the [Shift] key and check the [Enter] key either way.
  if (e.shiftKey) { enterKey() } else { enterKey() }
});
  function FormReset(){
    $("#formreset")[0].reset()
  }

  $('#myclose').click(function(){
    $('#printpopup').removeClass('show').addClass('hide')
    })

  $(document).ready(function(){
    var id = "{{ url }}"
    if (id){
    new_window=window.open(id,'','height=550,width=900,left=400, top=200, location=0, toolbar=no');
    if (window.focus) {new_window.focus()}
    return false;
    }
   })

  </script>

  {% endblock %}


