{% extends 'index.html' %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css  %}
{% bootstrap_javascript jquery='full' %}


{% block content %}
  <div class="row justify-content-center">
      <div class="card">
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              {% for field in profile_form %}
              <div class="col-md-6">
                {% bootstrap_field field show_label=True show_help=True %}
              </div>
              {% endfor %}
            </div>
            <div class="row justify-content-center">
              <div class="col-5">
                <button type="submit" class="btn btn-primary btn-block">update profile</button>
              </div>
            </div>
          </form>
        </div>
      </div>
  </div>
{% endblock %}
